@import url(./styles/_color.css);

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  background: none;
  appearance: none;
  user-select: none;
  transition-duration: 0.25s;
  font-size: inherit;
  color-scheme: light dark;
}

html {
  font-family: sans-serif;
  font-size: clamp(0.75rem, 0.85rem + 0.5vw, 1rem);
  line-height: 1.5;
  scroll-behavior: smooth;
}

body {
  min-height: 100svh;
  background: var(--global-background);
  color: var(--global-typography);
}
