img.icon {
  width: 1.5rem;
}

a.logo {
  text-decoration: none;
  display: flex;
  gap: 0.75rem;
  align-items: center;
  justify-content: start;
  font-weight: 800;
  color: var(--global-typography);
  margin: 0.5rem;
  padding: 0.5rem;
  letter-spacing: 0.5rem;
  font-size: 1.5rem;
  border-radius: 0.5rem;
}
a.logo img {
  width: 2.5rem;
}

#app {
  display: flex;
  height: 100svh;
  align-items: center;
}
#sidebar-toggler {
  cursor: ew-resize;
  background: var(--global-separator);
  width: 0.25rem;
  height: 3rem;
  margin: 0.25rem;
  border-radius: 0.125rem;
  opacity: 0.5;
}
#sidebar-toggler:hover {
  opacity: 0.75;
}
#app:has(#sidebar-toggler:checked) #sidebar {
  width: auto;
}
#app:has(#sidebar-toggler:checked) #sidebar span {
  display: none;
}
#sidebar span {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#sidebar {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  max-width: 15rem;
  height: 100svh;
  box-shadow: 0 0 10rem color-mix(in srgb, var(--global-separator), var(--mix-forward) 90%);
}

#main-nav {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

#main-nav a {
  margin: 0.25rem 0.5rem;
  padding: 0.5rem 1rem;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  color: var(--global-typography);
  text-decoration: none;
  border-radius: 0.5rem;
  font-weight: 600;
}
#main-nav a:hover {
  background: var(--global-foreground);
  box-shadow: 0 0 0.125rem var(--global-separator);
}

#user-nav {
  position: relative;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin: 0.5rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  cursor: pointer;
}
#user-nav #menu-toggler {
  display: none;
}
#user-nav:hover,
#user-nav:has(#menu-toggler:checked) {
  background: var(--global-foreground);
  box-shadow: 0 0 0.125rem var(--global-separator);
}
#user-nav img.avatar {
  background: #fff;
  border-radius: 50%;
  border: 0.0625rem solid var(--global-separator);
  width: 2.5rem;
}
#user-nav span {
  padding: 0 0.25rem;
}
#user-nav h4,
#user-nav p {
  margin: 0;
  padding: 0;
  font-size: 0.85rem;
  line-height: 1.25;
}
#user-nav p {
  font-style: oblique;
}
#user-nav #user-menu {
  position: absolute;
  bottom: calc(100% + 0.5rem);
  left: 0;
  min-width: max-content;
  width: 100%;
  display: none;
  flex-direction: column;
  background: var(--global-foreground);
  border-radius: 0.5rem;
  padding: 0.5rem;
  gap: 0.5rem;
  box-shadow: 0 0 0.25rem var(--global-separator);
  z-index: 100;
}
#user-nav #user-menu a {
  text-decoration: none;
  color: var(--global-typography);
  padding: 0.5rem 0.5rem;
  border-radius: 0.25rem;
  display: flex;
  gap: 0.5rem;
  align-items: center;
}
#user-nav #user-menu a:hover {
  background: var(--global-background);
  box-shadow: 0 0 0.125rem var(--global-separator);
}
#user-nav:has(#menu-toggler:checked) #user-menu {
  display: flex;
}

#content {
  flex: 1;
  height: 100svh;
  overflow-y: scroll;
}
